@model IEnumerable<TreatLines.Models.Appointment.AppointmentFutureInfoModel>

<div class="container p-1">
    <div class="row my-2">
        <div class="col-6">
            <h4 class="mt-2 mb-2">Upcoming appointments</h4>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() == 0)
        {
            <div>
                <p class="mt-2 mb-2">No appointments!</p>
            </div>
        }
        else
        {
            @foreach (var a in Model)
            {
                <div class="card bg-light mb-1 mx-4 px-0" style="max-width: 17rem;">
                    <div class="card-header">
                        <h5 class="my-1">
                            @a.DateTimeAppointment
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-info mb-1">@a.Email</p>
                        <p class="card-text mb-1">@a.FullName</p>
                        <p class="card-text mb-1"><em>@a.Position</em></p>
                        <div class="row" style="height: 28px">
                            @if (a.Price > a.PriceWithDiscount)
                            {
                                <div class="col-5">
                                    <p class="card-text m-0">
                                        <s>@a.Price</s>
                                    </p><br />
                                </div>
                            }
                            <div class="col-6">
                                <p class="card-text text-info m-0">@a.PriceWithDiscount</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="height: 60px">
                        <div class="row my-1">
                            <div class="col-6">
                                @if (a.Canceled == 1)
                                {
                                    <p class="text-danger m-0">Canceled</p>
                                }
                                else
                                {
                                    <a type="button"
                                       class="btn btn-outline-danger"
                                       asp-controller="Patient"
                                       asp-action="CancelAppointment"
                                       asp-route-id="@a.Id"
                           asp-route-profile="0">
                                        Cancel
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

