@model TreatLines.Models.Appointment.AppointmentCreationModel

<section class="my-5 mx-5">
    <div class="row">
        <div class="col-6 ms-auto">
            @foreach (var dateTime in Model.FreeDatesTime)
            {
                <div class="row mt-1">
                    <h5>@dateTime.Date</h5>
                    @foreach (var time in dateTime.Times)
                        {
                            var t = dateTime.Date + time;
                        <button id="@t"
                               type="button"
                               class="btn btn-outline-secondary m-1"
                               style="width: 70px"
                               value="@time"
                               onclick="function() { alert(@time);}">
                        @time
                            </button>
                    }
                </div>
            }
        </div>
        <div class="col-4 me-auto">
            <form asp-controller="Patient" asp-action="AddAppointment" method="post">
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    @*<div class="card-header">
                        <h6 id="dateTimeAppoint">@Model.DateTimeAppointment</h6>*@
                    @if (Model.DateTimeAppointment != null)
                    {
                        <input id="dateTimeAppInput" type="hidden" asp-for="DateTimeAppointment" />
                    }
                    @*</div>*@
                    <div class="card-body">
                        @if (Model.PatientEmail != null)
                        {
                            <input type="hidden" asp-for="PatientEmail" />
                        }
                        <div class="form-group">
                            <label for="selectDoctorPatient" class="form-label">Doctor email</label>
                            <select class="form-select" id="selectDoctorPatient" asp-for="DoctorEmail">
                                @foreach (var email in Model.DoctorsEmails)
                                {
                                    <option value="@email">@email</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-danger">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@*@for (int i = 0; i < Model.FreeDatesTime.Count(); i++)
    {
        <div class="row mt-1">
            <h5>@Model.FreeDatesTime.ElementAt(i).Date</h5>
            <h5>@dateTime.Date</h5>
                @foreach (var time in dateTime.Times)
            @for (int j = 0; j < @Model.FreeDatesTime.ElementAt(i).Times.Count(); j++)
            {
                <input id="btnDateTimeAppDoc" + @Model.FreeDatesTime.ElementAt(i).Date + @Model.FreeDatesTime.ElementAt(i).Times.ElementAt(j)
                       type="button"
                       class="btn btn-outline-secondary m-1"
                       style="width: 70px"
                       value="@Model.FreeDatesTime.ElementAt(i).Times.ElementAt(j)"
                       onclick="onClickAppButton(@Model.FreeDatesTime.ElementAt(i).Date, @Model.FreeDatesTime.ElementAt(i).Times.ElementAt(j))">
                time
                    </button>
            }
        </div>
    }*@