@model TreatLines.Models.ProfileInfo.DoctorProfileInfoHospAdminModel

<section class="my-5">
    <div class="card col-md-10 border-primary mx-auto">
        <div class="card-header">
            <div class="row my-2">
                <div class="col-6">
                    <h4 class="mt-2 mb-1">Doctor Profile</h4>
                </div>
                <div class="col-3 offset-3">
                    <a class="btn btn-secondary nav-link"
                       asp-controller="HospitalAdmin"
                       asp-action="MakeAppointment"
                       asp-route-doctorEmail="@Model.Email">
                        Make appointment
                    </a>
                </div>
            </div>
        </div>
        <form asp-controller="HospitalAdmin" asp-action="UpdateDoctorInfo" method="post">
            <div class="card-body pb-2">
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Name: </label>
                    </div>
                    <div class="col-3">
                        <input class="form-control" asp-for="FirstName">
                    </div>
                    <div class="col-2">
                        <label>Surname: </label>
                    </div>
                    <div class="col-3">
                        <input class="form-control" asp-for="LastName">
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-2">
                        <label>Registration date: </label>
                    </div>
                    <div class="col-4">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="RegistrationDate">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Email: </label>
                    </div>
                    <div class="col-4">
                        <input type="text" readonly="" class="form-control-plaintext p-0" asp-for="Email">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Phone number: </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" asp-for="PhoneNumber" />
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label for="sex" class="form-label">Sex: </label>
                    </div>
                    <div class="col-3">
                        <select class="form-select" id="sex" asp-for="Sex">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    @*<div class="col-2">
                            <label for="sex" class="form-label">Date of birth: </label>
                        </div>
                        <div class="col-3">
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>*@
                </div>
                <div class="form-group row my-2">
                    <div class="col-2">
                        <label>Position: </label>
                    </div>
                    <div class="col-3">
                        <input class="form-control" asp-for="Position">
                    </div>
                    <div class="col-3">
                        <label>Appointment price: </label>
                    </div>
                    <div class="col-2">
                        <input class="form-control" asp-for="Price">
                    </div>
                </div>
                <div class="form-group row my-2 ms-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="flexCheck" asp-for="OnHoliday">
                        <label class="form-check-label" for="flexCheck">
                            On holiday
                        </label>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-12">
                        <label class="mb-1">Education: </label>
                        <textarea class="form-control" rows="3" asp-for="Education"></textarea>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <div class="col-12">
                        <label class="mb-1">Experience: </label>
                        <textarea class="form-control" rows="3" asp-for="Experience"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row mb-2">
                    <h5>Schedule</h5>
                </div>
                <div class="form-group row my-2">
                    <div class="col-2 ps-2">
                        <select class="form-select" id="schedulesId" asp-for="ScheduleId">
                            @foreach (var item in Model.Schedules)
                            {
                                <option value="@item.Id">@item.Id</option>
                            }
                        </select>
                        <span asp-validation-for="ScheduleId" class="text-light"></span>
                    </div>
                    <div class="col-9">
                        @foreach (var schedule in Model.Schedules)
                        {
                            var none = "d-none";
                            @if (schedule.Id == Model.ScheduleId)
                            {
                                none = "";
                            }
                            var scheduleInfoId = "schedule" + schedule.Id;
                            <div id="@scheduleInfoId" class="row @none scheduleInfoDiv">
                                <div class="col-6">
                                    <div class="row mb-2">
                                        <div class="col-5">
                                            <label>Start time: </label>
                                        </div>
                                        <div class="col-6">
                                            <label>@schedule.StartTime</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <label>End time: </label>
                                        </div>
                                        <div class="col-6">
                                            <label>@schedule.EndTime</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <label>Work days: </label>
                                    <div class="row">
                                        <div class="col-12">
                                            @foreach (var day in schedule.WorkDays)
                                            {
                                                <span class="badge rounded-pill bg-info">@day</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group col-4 my-1">
                    <button type="submit" class="btn btn-secondary mb-1">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</section>
